html, body {
  height: 100%;

 }

 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a:link {
  color: white;
}
a:visited {
  color: white;

}

@font-face { font-family: "OratorStd"; src: url("../typeface/OratorStd.otf"); }


body {
 font-size: 20px;
 font-family: OratorStd;
 position: relative;
 color: black;
}

.object:hover .image {
  display: block;

}

.object:hover .text {
  display: none;
}


.hide {
  display:none;
  width: 100%;
  height: 100%;

}

.hidetext{
  display:none;
  background-color: aqua;

}

.textcontainer {
  background-color: white;
  position: fixed;
  width:100%;
  height: 100%;
  padding-top: 13%;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 10000;
  cursor: pointer;

}



.header {
position: fixed;
text-align: center;
width: 100%;
height: 20px;
}

.container {
width: 100%;
height: 100%;
margin-top: 17%;
position: fixed;
overflow: auto;
text-align: center;

}

.object {
height: 50%;
width: 50%;

}	

.object {
  font-size: 25px;
  border: 2px  ;
  height: 160px;
  width: 250px;
  overflow: hidden;
  margin: 5px;
  margin bottom: 20%; 
  line-height: 180px;
  display: inline-block;
  position: relative;
  
}



a {
text-decoration: none;

}





 .times { font-family: Times, serif; }
 .comic { font-family: 'Comic Sans MS', sans-serif; }
 .helvetica { font-family: helvetica; }
 .georgia {font-family: georgia;}

