body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: arial, helvetica, sans-serif;
}

div { vertical-align; }

h1, h2, h3, h4, h5, h6 {
	font-size: 15px;
	margin: 0;
}

ul {
	font-size: 15px;
	margin: 0px;
}


.container{
	width: 960px;
	background: #f1f1f1;
	font-size: 0px;
	margin: 0 auto 0 auto;
}

.c {
	background: #ff0;
	margin: 0 15px 30px 15px;
	font-size: 15px;
	display: inline-block;
	padding: 15px ;

}

.c6 { width: 900px; }
.c5 { width: 740px; }
.c4 { width: 610px; }
.c3 { width: 450px; }
.c2 { width: 290px; }
.c1 { width: 130px; }

.red{
	color: #f00;
}

a:link {}
a:visited {}
a:hover {}
a:active {}