
 /*

transform: scale(.5);

body {
  background-color: white
}


a:link {
  display: block;
  position: relative; 
  width: 200px;
  height: 400px;
}

.outer div {
  position: absolute;
}
.dot {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 100%;
  top: 40px;
}
.line {
  width: 200px;
  height: 2px;
  background-color: white;
  top: 49px;
}

a:visited {
  background-color: yellow;
}

a:visited .line {
  background-color: black;
}


*/


html, body {
  height: 100%;
}

.container {
  width: 300%;
  height: 300%;
  background-color: transparent;
  position: absolute;
  top:0;
  left: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



.test {
	background: #000;
	border: 1px solid #ff0;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	color: #fff;
}

a:link {
  background-color: black;
  color: #333;
}

a:visited {
  background-color: white;
  color: red;
}

a:hover {
  color: aqua;
}

.object:hover .image {
  display: block;
}

.object:hover .text {
  display: none;
}





/*words*/
.google {

height: 100;
width: 1000;
top:-300px;
left:-200px;
position: absolute;
transform: rotate(-9deg);
}
.twitter {

height: 100;
width: 1100;
position: absolute;
top:40%;
transform: rotate(-4deg);

}
.pornhub {

height: 100;
width: 1200;
margin-top: 15%;
margin-left: 10%;
transform: rotate(-4deg);
}

.xnxx {

height: 100;
width: 1200;
margin-top: 10%;
margin-left: 10%;
transform: rotate(6deg);
}



.expedia {
height: 100;
width: 1200;
margin-top: 7%;
margin-left: 4%;
transform: scale(.5);
}


.facebook {

height: 100;
width: 1250;
margin-top: 12%;
margin-right: 8%;
transform: rotate(-17deg);

}

.tumblr {
height: 100;
width: 1250;
position: absolute;
top: 70%;
transform: rotate(12deg);
}


.watched{
height: 100;
width: 1250;
position: absolute;
top: 30%;
right:-25%;
transform: rotate(12deg);
}


.youlike {
height: 100;
width: 1550;
position: absolute;
top: -2%;
left:-100px;
transform: scale(.5);
}

.onlybirds {
height: 100;
width: 1550;
position: absolute;
top: -200%;
left:750px;
transform: scale(.5);
}

.youtube {
height: 100;
width: 1250;
position: absolute;
top: 220%;
left: 85%;
transform: rotate(-40deg);
}

.watchme {
height: 100;
width: 1250;
position: absolute;
top: -300%;
left: 95%;
transform: scale(.5);
}

.ra {
height: 100;
width: 1550;
position: absolute;
top: 30%;
left: 150%;
transform: rotate(-20deg);
}

.lol{
height: 100;
width: 1200;
position: absolute;
top: 34%;
left: 55%;
}

.wtf{
height: 100;
width: 500;
position: absolute;
top: 20%;
left: 65%;
transform: rotate(30deg);
}

.almondmilk {
height: 100;
width: 1550;
position: absolute;
top: 15%;
left: 145%;
transform: scale(.5);
}

.artslut {
height: 100;
width: 1250;
position: absolute;
top: 3300px;
left: 400px;
transform: rotate(-40deg);
}

.netflixandchill {
height: 100;
width: 1250;
position: absolute;
top: 2900px;
left: 800px;
transform: scale(.5);
}

.fail {
height: 100;
width: 700;
position: absolute;
top: 60%;
left: 65%;
transform: rotate(30deg);
}

.hipsterzone {
height: 100;
width: 1250;
position: absolute;
top: 10%;
left: 120%;
transform: rotate(-30deg);
}

.sex {
height: 120;
width: 1350;
position: absolute;
top: 150%;
left: 220%;
transform: rotate(-30deg);
}

.youare {
height: 100;
width: 1250;
position: absolute;
top: 1200px;
left: 400px;
transform: scale(.5);
}

.amazon {
height: 100;
width: 1250;
position: absolute;
top: 1100px;
left: 800px;
transform: rotate(-40deg);
}






 .north {
  font-size: 14px;
  font-family: helvetica;
  border: 4px;
  width: 100%;
  text-align: center;
  position: fixed;
  color: yellow;
  top:3%;
  
 }


 .south {
  font-size: 14px;
  font-family: helvetica;
  border: 4px;
  width: 100%;
  text-align: center;
  position: fixed;
  color: yellow;
  bottom:3%;
 }


 .east {
  font-size: 14px;
  font-family: helvetica;
  border: 4px;
  height: 100%;
  text-align: center;
  position: fixed;
  color: yellow;
  top:50%;
  left:3%;
 }
.west {
  font-size: 14px;
  font-family: helvetica;
  border: 4px;
  height: 100%;
  text-align: center;
  position: fixed;
  color: yellow;
  top:50%;
  right:3%;
 }

.word {
  margin-right: 10px;
  display: inline-block;
}


.letter-wrapper {
	display:inline-block;
	margin-left: 8%;
	margin-right: 40%;
	margin-bottom: 20px;
}


.letter {
	width:150px;
	height:200px;
	margin-bottom: 3%;
	margin-left: 2px;
	position:relative;
	display: inline-block;
}
.bar{
	position:absolute;
}
.vertical{
	width:1px;
	height:200px;
}

.verticalhalf{
	width:1px;
	height:80px;

}
.horizontal{
	width:130px;
	height:1px;
}

.horizontalhalf{
	width:100px;
	height:1px;

}

.white{background:white}

#yellow {background-color:yellow}




.mediacircle {
	border-radius:50%;
	width: 1400px;
	height: 1400px;
	border-style: double; solid;
	border-color: none;
	background-color: transparent;
	position: absolute;
	top: 8%;
	left: 4%;

}

.sexcircle {
	border-radius:50%;
	width: 900px;
	height: 900px; 
	margin-left: 3000px;
	border-style: double; solid;
	border-color: transparent;
	background-color: transparent;
}

.travelcircle {
	border-radius:50%;
	width: 1500px;
	height: 1500px; 
	margin-right: 4000px;
	margin-top: 500px;
	background-color:aqua;
	border-style: double; solid;
	border-color: aqua;
	background-color: transparent;
}

.circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -3px;
	padding-top: -5px;
	background-color: white;
	
}	
.circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin: -10px 0px 0px 125px;
	background-color: white;
	
	}

.circle3 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin: 191px 20px 200px 125px;
	background-color: white;

	}

.circle4 {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin: 185px 0px 0px -4px;
	background-color: white;
	
	}

.circlemid {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin: -120px 0px 50px -3px; 
	background-color: white;
	position: block;
	}

.circlemid2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin: -57px 0px 50px 95px; 
	background-color: white;
	position: block;
}


.a-left{
	
	top:0px;
	left:0px;
}
.a-right {
	
	top:0px;
	right:22px;
	}
.a-mid {
	top:85px;
	left:0px;
}

.a-top{
	top:0px;
	left:0px;
	margin-top: 3px
	}


/* LETTER A*/
.aa-left{
	
	top:0px;
	left:0px;
	transform: rotate(20deg);
	
}
.aa-right {
	
	top:0px;
	right:80px;
	transform: rotate(-20deg);
}


.aa-mid {
	top:100px;
	right:0px;
}
.a-bottom {
	top:200px;
}

.a-horizontal{
	width:68px;
	height:1px;
	margin-right: 82px;
}

.a-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 30px;
	padding-top: 0px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.a-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left: -4px;
	margin-top: 87px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	


.a-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left: 66px;
	margin-top: -7px;
	background-color: white;
	position: relative;
	z-index: 1;
}
.a-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left: -36px;
	margin-top: 85px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.a-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:102px;
	background-color: white;
	position: relative;
	z-index: 1;

}

/* LETTER B*/

.b-left{
	top:0px;
	left:0px;
}
.b-vertical{
	width:1px;
	height:200px;
}

.b2-vertical{
	width:1px;
	height:55px;
	margin-top: 14px;
	left:78px;
	transform: rotate(-17deg);
}


.b-horizontal{
	width:70px;
	height:1px;
}

.b2-horizontal{
	width:50px;
	height:1px;
}

.b-top{
	top:0px;
	left:0px;
	margin-top:9px;
	transform: rotate(8deg);
}

.b2-top{
	width: 80px;
	top:0px;
	left:0px;
	margin-top: 102px;
	transform: rotate(-5deg);
}
.b-bottom {
	top:195px;
	transform: rotate(-10deg);
}
.b2{
	width:1px;
	height:300px;
}

.b2-right {
	
	top:0px;
	right:50px;
}

.b3-right {
	
	right:68px;
	bottom:7px;
	transform: rotate(22deg);
}

.b3-verticalhalf {
	width:1px;
	height:72px;
}

.b4-top {
	right:47px;
	bottom:88px;
	transform: rotate(60deg);
}

.b4-horizontal{
	width:30px;
	height:1px;
}

.b5-top {
	right:53px;
	bottom:115px;
	transform: rotate(-70deg);
}

.b5-horizontal{
	width:34px;
	height:1px;
}


.b-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -4px;
	padding-top: 0px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.b-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left: -3px;
	margin-top: 92px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.b-circle3 {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 72px;
	margin-top: -14px;
	background-color: white;
	position: relative;
	z-index: 1;
}
.b-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left: -2px;
	margin-top: 94px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.b-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:67px;
	margin-top: -193px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.b-circle6 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:83px;
	margin-top: 48px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.b-circle7 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:92px;
	margin-top: 51px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.b-circle8 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:67px;
	margin-top: 58px;
	background-color: white;
	position: relative;
	z-index: 1;

}





/* LETTER C*/

.c-left{
	top:0px;
	left:0px;
}
.c-vertical{
	width:1px;
	height:200px;
}

.c2-vertical{
	width:1px;
	height:65px;
	margin-top: 3px;
	left:17px;
	transform: rotate(19deg);
}
.c-horizontal{
	width:70px;
	height:1px;
}

.c2-horizontal{
	width:50px;
	height:1px;
}

.c-top{
	top:0px;
	left:30px;
	margin-top:9px;
	transform: rotate(-8deg);
}
.c-bottom {
	top:195px;
	left: 28px;
	transform: rotate(10deg);
}


.c2-right {
	
	left:20px;
	bottom:123px;
	transform: rotate(22deg);
}
.c3-right {
	
	left:15px;
	bottom:7px;
	transform: rotate(-22deg);
}

.c3-verticalhalf {
	width:1px;
	height:72px;
}

.c4-top {
	left:-20px;
	bottom:100px;
	transform: rotate(-82deg);
}

.c4-horizontal{
	width:50px;
	height:1px;
}

.c-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 28px;
	margin-top: 10px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.c-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left: 95px;
	margin-top: -20px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.c-circle3 {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 23px;
	margin-top: 175px;
	background-color: white;
	position: relative;
	z-index: 1;
}
.c-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left: 97px;
	margin-top: 8px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.c-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:0px;
	margin-top: -85px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.c-circle6 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:6px;
	margin-top: -54px;
	background-color: white;
	position: relative;
	z-index: 1;

}



/* LETTER D*/

.d-left{
	top:0px;
	left:0px;
}
.d-vertical{
	width:1px;
	height:200px;
}

.d2-vertical{
	width:1px;
	height:65px;
	margin-top: 3px;
	left:78px;
	transform: rotate(-14deg);
}
.d-horizontal{
	width:70px;
	height:1px;
}

.d2-horizontal{
	width:50px;
	height:1px;
}

.d-top{
	top:-8px;
	left:0px;
	margin-top:9px;
	transform: rotate(4deg);
}
.d-bottom {
	top:195px;
	transform: rotate(-10deg);
}

.d3-right {
	
	right:68px;
	bottom:7px;
	transform: rotate(22deg);
}

.d3-verticalhalf {
	width:1px;
	height:72px;
}

.d4-top {
	right:34px;
	bottom:100px;
	transform: rotate(82deg);
}

.d4-horizontal{
	width:50px;
	height:1px;
}

.d-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -4px;
	margin-top: -4px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.d-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left: 66px;
	margin-top: -6px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.d-circle3 {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 82px;
	margin-top: 58px;
	background-color: white;
	position: relative;
	z-index: 1;
}
.d-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left: 92px;
	margin-top: 47px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.d-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:-2px;
	margin-top: 71px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.d-circle6 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:67px;
	margin-top: -17px;
	background-color: white;
	position: relative;
	z-index: 1;

}




/* LETTER E*/

.e-left{
	
	top:0px;
	left:0px;
}
.e-right {
	
	top:0px;
	right:22px;
	}
.e-mid {
	top:85px;
	left:0px;
}

.e-top{
	top:0px;
	left:0px;
	margin-top: 3px
}
.e-bottom {
	top:200px;
}
.e-vertical{
	width:1px;
	height:200px;
}

}
.e-horizontal{
	width:230px;
	height:1px;
}

.e-horizontalhalf{
	width:100px;
	height:1px;

}

.e-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -3px;
	padding-top: -5px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.e-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:125px;
	margin-top: -10px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.e-circle3 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:125px;
	margin-top: 190px;
	background-color: white;
	position: relative;
	z-index: 1;

	}

.e-circle4 {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left:-5px;
	margin-top: -7px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}

.e-circle6 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:96px;
	margin-top: -122px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.e-circle7 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:-2px;
	margin-top: -6px;
	background-color: white;
	position: relative;
	z-index: 1;

}



/* LETTER F*/

.f-mid {
	top:85px;
	left:0px;
}

.fhalf{
	
	width:100px;
	height:1px;
	transform: rotate(2deg);
}

.f-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -3px;
	padding-top: -5px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.f-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin: -10px 0px 0px 125px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.f-circle3 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin: 191px 20px 200px 125px;
	background-color: white;
	position: relative;
	z-index: 1;

	}

.f-circle4 {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin: 185px 0px 0px -4px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.f-circlemid {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin: -120px 0px 50px -3px; 
	background-color: white;
	position: block;
	position: relative;
	z-index: 1;
	}

.f-circlemid2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin: -57px 0px 50px 95px; 
	background-color: white;
	position: block;
	position: relative;
	z-index: 1;
	}




/* LETTER G*/
.g-right {
	
	right:26px;
	bottom:0px;
}
.gverticalhalf {
	width:1px;
	height:80px;
	transform: rotate(-6deg);
}

.g-mid {
	top:10px;
	left:0px;

}

.ghorizontalhalf{
	width:2px;
	height: 0px;
}

.ghorizontalhalf{
	width:2px;
	height: 0px;
}

.g-mid {
	width:80px;
	height:1px;
	margin-top: 110px;
	margin-left: 40px;
}

.ghalf{
	top:0px;
	left:100px;
	transform: rotate(2deg);
}

.g-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -3px;
	padding-top: -5px;
	background-color: white;
	position: relative;
	z-index: 1;

	
}	
.g-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:125px;
	margin-top: -10px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.g-circle3 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:125px;
	margin-top: 190px;
	background-color: white;
	position: relative;
	z-index: 1;

	}

.g-circle4 {
	border-radius:50%;
	width:10px;
	height:10px; 
	margin-left:-5px;
	margin-top:-7px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}

.g-circle5 {
	border-radius:50%;
	width:5px;
	height:5px; 
	margin-left:116px;
	margin-top:-87px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.g-circle6 {
	border-radius:50%;
	width:7px;
	height:7px; 
	margin-left:38px;
	margin-top:-6px;
	background-color: white;
	position: relative;
	z-index: 1;

}



/* LETTER H*/
.h-left{
	
	top:0px;
	left:0px;
}
.h-right {
	
	top:0px;
	right:50px;
}

.h-mid {
	top:80px;
	left:0px;
	transform: rotate(2deg);
}

.h-horizontal{
	width:100px;
	height:1px;
}

.h-vertical{
	width:1px;
	height:200px;
}

.h-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -3px;
	padding-top: -5px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.h-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin: -10px 20px 0px 96px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.h-circle3 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:97px;
	margin-top: 190px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.h-circle4 {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left:-5px;
	margin-top: -7px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}
.h-circle5 {
	border-radius:50%;
	width:5px;
	height:5px; 
	margin-left:97px;
	margin-top:-125px;
	background-color: white;
	position: relative;
	z-index: 1;

}

.h-circle6 {
	border-radius:50%;
	width:7px;
	height:7px; 
	margin-left:-2px;
	margin-top:-10px;
	background-color: white;
	position: relative;
	z-index: 1;

}




/* LETTER I*/

.i-right {
	
	top: 0px;
	right:10px;
	bottom:0px;
	transform: rotate(4deg);
}

.i-vertical{
	width:1px;
	height:173px;
	margin-top: 3px;
	margin-right: 80px;
}

.i-bottom {
	top:175px;
	transform: rotate(-2deg);
}

.i-horizontal{
	width:120px;
	height:1px;
}

.i-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -3px;
	margin-top: -6px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.i-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:115px;
	margin-top: -8px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.i-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:113px;
	margin-top: 165px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.i-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:-5px;
	margin-top: -1px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}



/* LETTER J*/
.j-top{
	top:2px;
	left:30px;
	transform: rotate(2deg);
}

.j-horizontal{
	width:80px;
	height:1px;
}

.j-right {
	
	top: 0px;
	right:0px;
	bottom:0px;
	transform: rotate(4deg);
}

.j-vertical{
	width:1px;
	height:155px;
	margin-top: 3px;
	margin-right: 60px;
}

.j-bottom {
	top:163px;
	left:60px;
	transform: rotate(-30deg);
}
.j2-horizontal{
	width:25px;
	height:1px;
}

.jj-bottom {
	top:169px;
	left:45px;
	transform: rotate(0deg);
}
.jj-horizontal{
	width:17px;
	height:1px;
}

.jjj-bottom {
	top:163px;
	left:22px;
	transform: rotate(30deg);
}
.jjj-horizontal{
	width:25px;
	height:1px;
}


.j-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 90px;
	margin-top: -6px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.j-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:23px;
	margin-top: 152px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.j-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:80px;
	margin-top: -10px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.j-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:59px;
	margin-top: 6px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.j-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:43px;
	margin-top: -4px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

/* LETTER K*/
.k-right {
	top: 0px;
	left:0;
	right:0px;
	bottom:0px;
}
.k-vertical{
	width:1px;
	height:200px;
}
.k-mid1{
	top:0px;
	left:45px;
	transform: rotate(37deg);
}
.k-mid2{
	top:75px;
	left:67px;
	right:20px;
	transform: rotate(-25deg);
}
.k-verticalmid{
	width:1px;
	height:145px;
}
.k-verticalmid2{
	width:1px;
	height:125px;
}

.k-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 87px;
	margin-top: 7px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.k-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:-2px;
	margin-top: -20px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.k-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:-2px;
	margin-top: 120px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.k-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:91px;
	margin-top: 59px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.k-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:-2px;
	margin-top: 1px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.k-circle6 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:38px;
	margin-top: -124px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

/* LETTER L*/
.l-right {
	top: 0px;
	left:0;
	right:0px;
	bottom:0px;
}
.l-vertical{
	width:1px;
	height:200px;
}
.l-bottom {
	top:194px;
	transform: rotate(-5deg);
}

.l-horizontal{
	width:130px;
	height:1px;

}

.l-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -4px;
	margin-top: -4px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	

.l-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:-2px;
	margin-top: 190px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.l-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:126px;
	margin-top: -18px;
	background-color: white;
	position: relative;
	z-index: 1;	
}




/* LETTER M*/
.m-left{
	top:0px;
	left:19px;
	transform: rotate(9deg)
}
.m-right {
	
	top:0px;
	right:20px;
}
.m-vertical{
	width:1px;
	height:200px;
}

.m-mid1{
	top:-5px;
	left:105px;
	transform: rotate(32deg);
}
.m-mid2{
	top:-5px;
	left:58px;
	transform: rotate(-32deg);
}
.m-verticalmid{
	width:1px;
	height:90px;
}

.m-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 123px;
	margin-top: -2px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.m-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:31px;
	margin-top: -11px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.m-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:78px;
	margin-top: 71px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.m-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:127px;
	margin-top: 113px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.m-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left: 1px;
	margin-top: -4px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.m-circle6 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:38px;
	margin-top: -124px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

/* LETTER N*/

.n-left{
	top:0px;
	left:19px;
	transform: rotate(9deg)
}
.n-right {
	top:0px;
	right:22px;
}

.n-mid{
	top:-9px;
	left:80px;
	transform: rotate(-25deg);
}
.n-verticalmid{
	width:1px;
	height:219px;
}

.n-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 122px;
	margin-top: -2px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.n-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:31px;
	margin-top: -11px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.n-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:1px;
	margin-top: 188px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.n-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:125px;
	margin-top: -1px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

/* LETTER o*/

.o-left{
	top:0px;
	left:0px;
}
.o-vertical{
	width: 1px;
    height: 60px;
    margin-top: 4px;
    left: 8px;
    transform: rotate(25deg);
}

.o2-vertical{
	width: 1px;
    height: 60px;
    margin-top: 4px;
    left: 85px;
    transform: rotate(-25deg);
}


.o-horizontal{
	width:50px;
	height:1px;
}

.o2-horizontal{
	width:20px;
	height:1px;
}

.o-top{
	top: 0px;
    left: 22px;
    margin-top: 6px;
    transform: rotate(0deg);
}

.o2-top{
	width: 50px;
	top:0px;
	left:74px;
	margin-top: 87px;
	transform: rotate(-90deg);
}
.o-bottom {
	top:195px;
	left:22px;
}
.o2{
	width:1px;
	height:20px;
}

.o2-right {
	
	top:0px;
	right:50px;
}

.o3-right {
	
	right: 65px;
    bottom: 3px;
    transform: rotate(19deg);
}

.o3-verticalhalf {
	width: 1px;
    height: 83px;
}

.o4-top {
	right:100px;
	bottom:42px;
	transform: rotate(70deg);
}

.o4-horizontal{
	width:83px;
	height:1px;
}

.o5-top {
	right:129px;
	bottom:110px;
	transform: rotate(90deg);
}

.o5-horizontal{
	width:50px;
	height:1px;
}


.o-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 68px;
	margin-top: 3px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.o-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:17px;
	margin-top: -10px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.o-circle3 {
	border-radius:50%;
	width: 9px;
	height: 9px; 
	margin-left:-7px;
	margin-top: 47px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.o-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:95px;
	margin-top: -7px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.o-circle5 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:-8px;
	margin-top: 50px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.o-circle6 {
	border-radius:50%;
	width: 6px;
	height: 6px; 
	margin-left:95px;
	margin-top: -9px;
	background-color: white;
	position: relative;
	z-index: 1;	
}


.o-circle7 {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left:66px;
	margin-top: 70px;
	background-color: white;
	position: relative;
	z-index: 1;	
}



.o-circle8 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:20px;
	margin-top: -5px;
	background-color: white;	
	position: relative;
	z-index: 1;
}






/* LETTER p*/

.p-left{
	top:0px;
	left:0px;
	}
.p-vertical{
	width:1px;
	height:200px;
}

.p-horizontal{
	width:100px;
	height:1px;
}
.p-top{
	top:0px;
	left:0px;
	margin-top: 9px;
	transform: rotate(5deg);
}

.p2-top{
	width: 98px;
	top:0px;
	left:0px;
	margin-top: 77px;
	transform: rotate(5deg);
}
.p2-vertical{
	width:1px;
	height:70px;
	margin-top: 13px;
	transform: rotate(2deg);
}
.p2-horizontal{
	width:100px;
	height:1px;
}
.p2-right {
	
	top:0px;
	right:50px;
}



.p-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -3px;
	margin-top: -2px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.p-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:98px;
	margin-top: 1px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.p-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:-2px;
	margin-top: 53px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.p-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:96px;
	margin-top: 4px;
	background-color: white;
	position: relative;
	z-index: 1;	
}


.p-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:-2px;
	margin-top:112px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

/* LETTER T*/

.t-top{
	width: 100px;
	top:0px;
	left:0px;
	margin-top: 9px;
	transform: rotate(5deg);
	}

.t-horizontal{
	width:110px;
	height:1px;
}

.t-vertical{
	width:1px;
	height:185px;
}

.t-left{
	top:10px;
	left:50px;
}

.t-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -2px;
	margin-top: 0px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.t-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:104px;
	margin-top: 1px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.t-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:47px;
	margin-top: 176px;
	background-color: white;
	position: relative;
	z-index: 1;
}



/* LETTER s*/

.s-mid1{
	top:25px;
	left:90px;
	transform: rotate(-25deg);
}


.s-verticalmid1{
	width:1px;
	height:140px;
}

.s-top1{
	width:1px;
	height:60px;
}

.s-topvert1 {
	top:-10px;
	left:133px;
	transform: rotate(-60deg);
}

.s-top2{
	width:1px;
	height:60px;
}

.s-topvert2 {
	top:-10px;
	left:85px;
	transform: rotate(60deg);
}

.s-bottom1{
	width:1px;
	height:60px;
}

.s-bottomvert {
	top:143px;
	left:43px;
	transform: rotate(-60deg);
}

.s-bottom2{
	width:1px;
	height:60px;
}

.s-bottomvert2 {
	top:145px;
	left:93px;
	transform: rotate(60deg);
}
.s-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 105px;
	margin-top: 3px;
	background-color: white;
	
}	
.s-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:155px;
	margin-top: 17px;
	background-color: white;
	
	}

.s-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:58px;
	margin-top: -7px;
	background-color: white;
}

.s-circle4 {
	border-radius:50%;
	width:10px;
	height: 10px; 
	margin-left:63px;
	margin-top: 145px;
	background-color: white;
}


.s-circle5 {
	border-radius:50%;
	width:7px;
	height: 7px; 
	margin-left:115px;
	margin-top: -35px;
	background-color: white;
}

.s-circle6 {
	border-radius:50%;
	width:11px;
	height: 11px; 
	margin-left:14px;
	margin-top: -10px;
	background-color: white;
}



/* LETTER U*/

.u-mid1{
	top:10px;
	left:125px;
	transform: rotate(5deg);
}
.u-mid2{
	top:10px;
	left:10px;
	transform: rotate(-5deg);
}

.u-verticalmid1{
	width:1px;
	height:150px;
}

.u-verticalmid2{
	width:1px;
	height:150px;
}

.u-bottom1{
	width:1px;
	height:60px;
}

.u-bottomvert {
	top:143px;
	left:43px;
	transform: rotate(-60deg);
}

.u-bottom2{
	width:1px;
	height:60px;
}

.u-bottomvert2 {
	top:145px;
	left:93px;
	transform: rotate(60deg);
}




.u-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 0px;
	margin-top: 9px;
	background-color: white;
	
}	
.u-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:129px;
	margin-top: -10px;
	background-color: white;
	
	}

.u-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:15px;
	margin-top: 139px;
	background-color: white;
}

.u-circle4 {
	border-radius:50%;
	width:10px;
	height: 10px; 
	margin-left:65px;
	margin-top: 20px;
	background-color: white;
}


.u-circle5 {
	border-radius:50%;
	width:7px;
	height: 7px; 
	margin-left:115px;
	margin-top: -35px;
	background-color: white;
}




/* LETTER Q*/

.q-left{
	top:0px;
	left:0px;
}
.q-vertical{
	width: 1px;
    height: 60px;
    margin-top: 4px;
    left: 8px;
    transform: rotate(25deg);
}

.q2-vertical{
	width: 1px;
    height: 60px;
    margin-top: 4px;
    left: 85px;
    transform: rotate(-25deg);
}


.q-horizontal{
	width:50px;
	height:1px;
}

.q2-horizontal{
	width:20px;
	height:1px;
}

.q-top{
	top: 0px;
    left: 22px;
    margin-top: 6px;
    transform: rotate(0deg);
}

.q2-top{
	width: 50px;
	top:0px;
	left:74px;
	margin-top: 87px;
	transform: rotate(-90deg);
}
.q-bottom {
	top:195px;
	left:22px;
}
.q2{
	width:1px;
	height:20px;
}

.q2-right {
	
	top:0px;
	right:50px;
}

.q3-right {
	
	right: 65px;
    bottom: 3px;
    transform: rotate(19deg);
}

.q3-verticalhalf {
	width: 1px;
    height: 83px;
}

.q4-top {
	right:100px;
	bottom:42px;
	transform: rotate(70deg);
}

.q4-horizontal{
	width:83px;
	height:1px;
}

.q5-top {
	right:129px;
	bottom:110px;
	transform: rotate(90deg);
}

.q5-horizontal{
	width:50px;
	height:1px;
}


.q-break {
	
	right: 65px;
    bottom: 3px;
    transform: rotate(-40deg);
}

.q-verticalbreak {
	width: 1px;
    height: 67px;
}

.q-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 68px;
	margin-top: 3px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.q-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:17px;
	margin-top: -10px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.q-circle3 {
	border-radius:50%;
	width: 9px;
	height: 9px; 
	margin-left:-7px;
	margin-top: 47px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.q-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:95px;
	margin-top: -7px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.q-circle5 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:-8px;
	margin-top: 50px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.q-circle6 {
	border-radius:50%;
	width: 6px;
	height: 6px; 
	margin-left:95px;
	margin-top: -9px;
	background-color: white;
	position: relative;
	z-index: 1;	
}


.q-circle7 {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left:66px;
	margin-top: 70px;
	background-color: white;
	position: relative;
	z-index: 1;	
}



.q-circle8 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:20px;
	margin-top: -5px;
	background-color: white;
	position: relative;
	z-index: 1;	
}


.q-circle9 {
	border-radius:50%;
	width: 6px;
	height: 6px; 
	margin-left:102px;
	margin-top: -12px;
	background-color: white;
	position: relative;
	z-index: 1;	
}



.q-circle10 {
	border-radius:50%;
	width: 8px;
	height: 8px; 
	margin-left:57px;
	margin-top: -59px;
	background-color: white;
	position: relative;
	z-index: 1;	
}






/* LETTER R*/
.r-left{
	top:0px;
	left:0px;
	}
.r-vertical{
	width:1px;
	height:200px;
}
.r2-vertical{
	width:1px;
	height:70px;
	margin-top: 13px;
	transform: rotate(2deg);
}

.r-horizontal{
	width:100px;
	height:1px;
}

.r2-horizontal{
	width:50px;
	height:1px;
}


.r22-horizontal{
	width:145px;
	height:1px;
	transform: rotate(54deg);
}

.r-top{
	top:0px;
	left:0px;
	margin-top: 9px;
	transform: rotate(5deg);
}

.r2-top{
	width: 98px;
	top:0px;
	left:0px;
	margin-top: 77px;
	transform: rotate(5deg);
}
	
.r-mid {
	top:128px;
	right:35px;
}
.r2-right {
	
	top:0px;
	right:50px;
}


.r-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -3px;
	margin-top: -2px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.r-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:98px;
	margin-top: 1px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.r-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:-2px;
	margin-top: 53px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.r-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:96px;
	margin-top: 4px;
	background-color: white;
	position: relative;
	z-index: 1;	
}


.r-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:-2px;
	margin-top:112px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

.r-circle6 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:80px;
	margin-top:-19px;
	background-color: white;
	position: relative;
	z-index: 1;	
}


/* LETTER V*/

.v-mid1{
	top:10px;
	left:105px;
	transform: rotate(20deg);
}
.v-mid2{
	top:10px;
	left:37px;
	transform: rotate(-20deg);
}

.v-verticalmid1{
	width:1px;
	height:200px;
}

.v-verticalmid2{
	width:1px;
	height:200px;
}



.v-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 0px;
	margin-top: 9px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.v-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:134px;
	margin-top: -5px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.v-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:68px;
	margin-top: 176px;
	background-color: white;
	position: relative;
	z-index: 1;
}


/* LETTER W*/

.w-mid1{
	top:10px;
	left:90px;
	transform: rotate(-15deg);
}
.w-mid2{
	top:10px;
	left:40px;
	transform: rotate(15deg);
}

.w-verticalmid1{
	width:1px;
	height:200px;
}

.w-verticalmid2{
	width:1px;
	height:200px;
}

.w-left{
	top:15px;
	left:8px;
	}
.w-vertical{
	width:1px;
	height:190px;
	transform: rotate(-4deg);
}

.w-right{
	top:17px;
	left:116px;
	}
.w-verticalright{
	width:1px;
	height:190px;
}

.w-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -2px;
	margin-top: 9px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.w-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:62px;
	margin-top: -7px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.w-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:113px;
	margin-top: -4px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.w-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:114px;
	margin-top: 181px;
	background-color: white;
	position: relative;
	z-index: 1;	
}


.w-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:12px;
	margin-top:-3px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

/* LETTER X*/

.x-mid1{
	top:-15px;
	left:60px;
	transform: rotate(34deg);
}

.x-mid2{
	top:-15px;
	left:60px;
	transform: rotate(-34deg);
}

.x-verticalmid{
	width:1px;
	height:235px;
}


.x-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -8px;
	margin-top: 4px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.x-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:57px;
	margin-top: 84px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.x-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:120px;
	margin-top: -102px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.x-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:122px;
	margin-top: 185px;
	background-color: white;
	position: relative;
	z-index: 1;	
}


.x-circle5 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:-7px;
	margin-top:-3px;
	background-color: white;
	position: relative;
	z-index: 1;	
}
/* LETTER Y*/
.y-mid1{
	top:-5px;
	left:105px;
	transform: rotate(32deg);
}
.y-mid2{
	top:-5px;
	left:58px;
	transform: rotate(-32deg);
}
.y-verticalmid{
	width:1px;
	height:90px;
}

.y-vertmid{
	width:1px;
	height:129px;
}


.y-main{
	
	top:75px;
	left:81px;
}

}
.y-vertical{
	width:1px;
	height:250px;
}

.y-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: 31px;
	margin-top: 0px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.y-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:78px;
	margin-top: 62px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.y-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:123px;
	margin-top: -78px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.y-circle4 {
	border-radius:50%;
	width: 5px;
	height: 5px; 
	margin-left:79px;
	margin-top: 191px;
	background-color: white;
	position: relative;
	z-index: 1;	
}

/* LETTER Z*/
.z-mid{
	
	top:0px;
	left:0px;
}
.z-vertical{
	width:1px;
	height:200px;
}
.z-bottom {
	top:200px;
}

.z-top{
	top:0px;
	left:0px;
	margin-top: 3px
	}


.z-vertical{
	width:1px;
	height:200px;
}

.z-verticalmid{
	width:1px;
	height:235px;
}

.z-mid{
	top:-15px;
	left:60px;
	transform: rotate(34deg);
}

.z-circle{
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -10px;
	margin-bottom: -100px;
	background-color: white;
	position: relative;
	z-index: 1;

}
.z-circle {
	border-radius:50%;
	width: 10px;
	height: 10px; 
	margin-left: -3px;
	margin-top: -1px;
	background-color: white;
	position: relative;
	z-index: 1;
	
}	
.z-circle2 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:124px;
	margin-top: 90px;
	background-color: white;
	position: relative;
	z-index: 1;
	
	}

.z-circle3 {
	border-radius:50%;
	width: 7px;
	height: 7px; 
	margin-left:123px;
	margin-top: 190px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.z-circle4 {
	border-radius:50%;
	width: 8px;
	height: 8px; 
	margin-left:-8px;
	margin-top: -7px;
	background-color: white;
	position: relative;
	z-index: 1;	
}


.space {
  width: 200px;
}

 .header {
  font-size: 30px;
  color:yellow;
  border: double aqua;
  border-radius: 100px;
  height: 150px;
  width: 120px;
  overflow: hidden;
  padding: 10px;
  vertical-align:middle;
  position: relative;
  top:10px;
  left: 20px;
  
}

.1circle {
	border-radius:50%;
	width: 4px;
	height: 4px; 
	background-color: white;
	position: absolute;
	margin-top:10px;
	bottom:3px;
}


.word-circle {
	border-radius:50%;
	width: 20px;
	height: 20px; 
	top:-50%;
	margin-left:90%;
	background-color: aqua;
	position: relative;
	z-index: 1;

}
