body { background-color: #98FFCC; }

h1 { color: "black"; 
	font: normal 100px verdana;
	MARGIN: 0px 0px 10px 0px; 
	text-align: left;
	
}
	
	
	
	p {font: normal 25px verdana;
	}
	
	div.content 
	
	p { color: #FAEBD7;
		font: normal 50px verdana; 
		margin: 10px 0px 10px 0px;
		text-align: left;
		margin: 0px 0px 0px 0px;
		}

	div {
			display: inline-block;

}
	
	.c6 { 

		width: 930px;
		height: 100px;
		background: #ff0;
	}
		
	div {
	width: 250px;
	margin: 0px auto 40px auto;
}

	img {
	margin: 0px 0px 0px 0px;
	width: 	300px;
	}		
	
	div.content {
	width: 	400px
	margin: 0px auto 60px auto;
	
}
	
	div.content img {
	margin: 0px 0px 20px 0px;
	width: 	100%;
}