html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: helvetica;
  font-size: 15px;
}

a:link {
  color: black;
}
a:visited {
  color: black;

}

.special {
  font-family: arial;
}

#textbox {
padding: 25px
}
   
 .header {
  font-size: 18px;
  border: 4px;
  height: 600px;
  width: 200px;
  overflow: hidden;
  padding: 10px;
  text-align: left;
  vertical-align:middle;
  position: fixed;
  top:0;
  bottom:0;
  
}

.navigation {
  font-size: 20px;
  padding-top: 0px;
  position: fixed;
  left: 20;
  padding-bottom: 0px;
}

.sub {
  font-size: 18px;
  padding: 0px 0px 0px 0px;
  position: fixed;
  left: 20;
}

.container {
  position: fixed;
  top: 120px;
  left: 220px;
  right: 120px;
  bottom: 20px;
  border: 4px solid black;
  padding: 25px 20px 0px 210px;
  font-size: 0;
  overflow: auto;
}

.padding {
  display: inline-block;
  width: 50%;
  padding: 0px;
  vertical-align: top;
}

.next {
  position:absolute;
  width: 99px;
  height: 48px;
  top: 35px;
  right: 30px;
  background-color: black;
}
 

.object {
  font-size: 30px;
  font-family: helvetica;
  border: 4px solid black;
	height: 200px;
	width: 300px;
  overflow: hidden;
  margin: 15px;
  display: inline-block;
  text-align: center;
  vertical-align:middle;
  line-height: 180px;
  vertical-align: top;
}

.objectglass {
  height: 300px;
}

.objectrocks {
  height: 125px;
}

.objectplastic {
  height: 125px;
}

.ananas {
  border: 1px none;
  height: 420px;
  width: 500px;
  overflow: hidden;
  margin:auto; 
  vertical-align: center;
  padding-top: 40px;
  padding-left: 90px;
}

.nofar {
  border: 1px none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin:auto; 
  padding-top: 40px;
  padding-left: 20%;
}

.bear {
  border: 1px none;
  height: 420px;
  width: 500px;
  overflow: hidden;
  margin:auto; 
  vertical-align:center;
  padding-top: 40px;
  padding-left: 80px;
}


.plate {
  border: 1px none;
  height: 420px;
  width: 600px;
  overflow: hidden;
  margin:auto; 
  vertical-align:center;
  padding-top: 40px;
  padding-left: 80px;
}

.travel {
  border: 1px none;
  height: 420px;
  width: 500px;
  float: middle;
  margin:auto; 
  vertical-align:center;
  padding-top: 40px;
  padding-left: 90px;
}

.description {
  font-size: 15px;
  width: 900px;
  position: fixed;
  bottom: 40px;
}

.maintext {
  font-size: 15px;
  height: 344px;
  width: 600px;
  padding: 0px;
  display: inline-block;

}
.image {
  display: none;
  padding-top: 10px;

}
.objectimage {
  max-width: 100%;
  max-height: 100%;
}

.object:hover .image {
  display: block;
}

.object:hover .text {
  display: none;
}